h3{
	text-align: center;	
	font-size: 1.75em ;
}

*{
	box-sizing: border-box;
}
section{
  border: 3px solid black;
  background-color: grey;
  margin-left: 10px;
  float: left;

}

#chicken,#beef,#sushi{
	position: absolute;
    text-align: center;
    font-size: 1.25em;
   font-weight:  bold;
	border: 3px solid black;
	border-top: 0px;
	border-left:0px;
	width:30%;

  
}
#chicken{
   background-color: #FFC0CB;
}

 #beef{
	color: white;
	background-color: red;
}
#sushi{
	background-color: #CC7722;

}
#p1,#p2,#p3{
	position: relative;
		float: left;
		top:10px;
}

/********** Large devices only **********/
@media (min-width: 992px) {
     #section1,#section2,#section3{
     	width: 32%;
     }
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
   #section1{
   	position: absolute;
   	 width: 48%;
       margin: 10px 10px 10px 10px;
     
   }
   #section2{
   	position: relative;
   	width:48%;
   	 float: right;
   	   margin: 10px 10px 10px 10px;

}
 #section3{
   
   	 width: 96%;
       margin: 10px 10px 10px 10px;
     
   }

/********** Small devices only **********/
@media (max-width: 767px) {
 section{

 	margin-bottom: 10px;
 }
}